nav {
  text-align: center;
}
nav ul {
  padding: 2% 1%;
}
nav li {
  display: inline-block;
  background-color: pink;
  padding: 1%;
  margin-left: 2%;
}
nav a {
  text-decoration: none;
  color: red;
}
header {
  background-color: #eee;
  margin: 0%;
  padding: 0%;
}
h1 {
  color: red;
  text-align: center;
  padding: 2%;
}
hr {
  border-bottom: 1px solid black;
}
body {
  background-image: url("../imgs/bgimg2.jpg");
  font-family: sans-serif;
}
section {
  background-color: pink;
}
aside {
  padding: 2%;
  background-color: purple;
  height: inherit;
}
table {
  width: 80%;
  border-collapse: collapse;
  text-align: left;
}
table td {
  width: 10%;
  margin: 1%;
  padding: 3%;
}
table th {
  padding-left: 3%;
}
footer {
  background-color: orange;
}
.mainContent {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
.footerContent {
  margin-top: 2%;
}
.content {
  width: 70%;
  padding: 4%;
  margin: 0 auto;
}
.content p {
  text-align: center;
  margin-top: 5%;
}
.pageWrapper {
  width: 70%;
  margin: 0 auto;
}
.registerContent {
  width: 100%;
  padding: 1%;
}
