@import "less/nav";
@import "less/header";

@color: red;

h1{
	color:@color;
	text-align: center;
	padding:2%;
}
hr{
	border-bottom: 1px solid black;
}
body{
	background-image: url("../imgs/bgimg.png");
	font-family: sans-serif;
}
section{
	background-color: pink;
}
aside{
	padding: 2%;
	background-color: purple;
	height: inherit;
}
table{
	width:80%;
	border-collapse: collapse;
	//background-color: #098765;
	td{
		width: 10%;
		margin: 1%;
		padding: 2%;
		//background-color: blue;
	}
}
footer{
	background-color: orange;
}
.mainContent{
	display: flex;
	flex-direction: row;
	width:100%;
}
.content{
	width: 70%;
	padding: 4%;
	margin: 0 auto;
}
.pageWrapper{
	background-color: white;
	width: 70%;
	margin: 0 auto;
}
.registerContent{
	width:100%;
	padding: 1%;
}
