

//VARIALBES
@hoverColor: #4691D0;
@blueColor : #C0DCF5;
@pageWrapperColor: #F7F7F7;
@headerColor: #fff;


//MIXINS
.FlexBox{
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
}
//FLEX ROW
.FlexDirectionRow{
	-webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}



h1,
h2 {
	text-align: center;
	padding:2%;
}

hr{
	border-bottom: 1px solid black;
	margin: 10% 0%;
}

body{
	background-color: #fff;
	font-family: sans-serif;
	background-image: url("../imgs/bgimg.png");
}

aside{
	padding: 2%;
	//margin-bottom: 3%;
}

footer{
	background-color: @blueColor;
	margin-top: 3%;
}





@import "nav.less";
@import "header.less";
@import "classes.less";
@import "form.less";
@import "table.less";

