@import "less/nav";
@import "less/header";

@color: red;

h1{
	color:@color;
}

body{
	background-image: url("../imgs/bgimg.png");
	font-family: sans-serif;
}
section{
	background-color: pink;
	.mainContent{
		text-decoration: none;	
	}
}
aside{
	//float: right;
	background-color: purple;
	//width:30%;
}
table{
	//float: left;
	background-color: #098765;
	//width: 70%;
}
footer{
	clear: both;
}
.mainContent{
	display: flex;
}
.pageWrapper{
	background-color: white;
	width: 70%;
	margin: 0 auto;
}
